 <!-- experiencia -->
 <div class="card " >
    <i class="fa-solid fa-plus" style=" font-size: 2rem ;  padding-left: 98rem;
    padding-top: 1rem;"></i>
    <h1 class="text-center "
        style="font-size: 60px; font-family: 'Dancing Script', cursive;">
        Experiencias 
    </h1>
    <div class="card-body card-group " style="justify-content: space-evenly;flex-wrap: wrap;">
        
      <div *ngFor = "let experiencia of trabajoList">
        <div  class="card mb-3" style="max-width: 540px; ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="experiencia.img"
                        class="img-fluid rounded-start" alt="..." style="width: 16em;
                    height: 17em; ">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{experiencia.trabajo}}</h5>
                        <p class="card-text"> {{experiencia.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">{{experiencia.aptitudes}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
