   <!-- Barra de navegacion -->

   <header>
    <nav class=" barra navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <!-- Logo -->
                <img class="logo" [src]="miPortfolio.logo" />
                <!--  -->
                <!-- Menu -->
                <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                   
                </ul>
                <!--  -->
                <!-- search -->
                <form class="d-flex" role="search">
                    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#"><i
                                    class="fa fa-brands fa-github-alt fa-2x fa-scroll "></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i
                                    class=" fa fa-brands fa-linkedin fa-2x fa-scroll "></i></a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-light" type="submit" style="height: 40px ;margin-top: 1rem;">
                        Sign In
                    </button>
                </form>
                <!--  -->
            </div>
        </div>
    </nav>
</header>
