<footer>
    <nav >
        <ul class="nave-ul">
            <li class="nave-li"><a class="ai" href="#hola">Hola</a></li>
            <li class="nave-li"> <a class="ai" href="#conocimiento">Conocimientos</a></li>
            <li class="nave-li"><a class="ai" href="#contacto">Contacto</a></li>
        </ul>

    </nav>
    <ul class="nave-ul">
        <li class="nave-li"><a  href=""><i class=" fa fa-brands fa-github-alt fa-sm"></i></a></li>
        <li class="nave-li"> <a href=""><i class=" fa fa-brands  fa-linkedin-in fa-sm "></i></a></li>
        <li class="nave-li"><a  href=""><i class="fa fa-solid fa-envelope fa-sm "></i></a></li>
    </ul>
    Pagina Yohanna Rojo

</footer>
