  <!-- informacion acerca de -->

  <div class="text-center" >

    <div class="info-text" >
        <i class="fa-solid fa-pen" style="padding-left: 69rem;"></i>
        <h1 id="acerca" class=" text-center rounded mx-auto d-block">Acerca de </h1>
        <p class=" parrafo ">
            <span *ngIf="miPortfolio">{{miPortfolio.acercaD}}</span>
        </p>
        <a href="#" class="btn btn-primary" style="height: 46px;
        font-size: 1.5em;">  Mi CV </a>
        
    </div>


</div>


<!--  -->
